:root {
  --background-color: rgba(10, 10, 10, 0.85);
  --text-color: white;
  --button-hover-scale: 1.35;
  --font-family: "Press Start 2P", monospace;
}

html {
  scroll-behavior: smooth;
  overflow: visible;
}

.white-text {
  color: var(--text-color);
}

.black-text {
  color: black;
}

.slide-out {
  animation: slide-out 0.5s ease-in-out;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-20px);
  }
}
.topbar {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(90% - 0.1rem - 1rem);
  height: 100px;
  background-color: var(--background-color);
  transition: top 1s ease-in-out;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

#text {
  font-family: "Press Start 2P", monospace;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 72px;
  -webkit-user-select: none;
  user-select: none;
  text-rendering: optimizeLegibility;
}

.button {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  transform-origin: 50% 50%;
  transition: ease-in-out 0.15s;
}

.button:hover {
  cursor: pointer;
  transform: scale(var(--button-hover-scale));
}

@keyframes progressiveEnlarge {
  0% {
    font-size: 100%;
  }
  25% {
    font-size: 110%;
  }
  75% {
    font-size: 105%;
  }
  100% {
    font-size: 100%;
  }
}
.smooth-size {
  transition: 0.3s ease-out;
}

.enlarge {
  /* display: inline-block */
  font-size: 120%;
}

#matrixCanvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
}

.audio-controls {
  text-align: center;
  margin-top: 20px;
}

.audio-controls button {
  font-family: "Press Start 2P", monospace;
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.audio-controls button:hover {
  background-color: #333;
}

.theme-selector {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 10;
}

.theme-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  font-family: "Press Start 2P", monospace;
}

.play-button {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-size: 36px;
}

/* user-select: none */
#backgroundVideo {
  position: fixed;
  top: 0;
  left: 0;
  /* min-width: 100% */
  /* min-height: 100% */
  /* width: auto */
  /* height: auto */
  width: 100vw;
  height: 100vh;
  z-index: -100;
  object-fit: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.flex-center {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 30px;
  text-align: center;
}

.flex-center > * {
  display: inline-flex;
}

.offset-v-50 {
  margin-top: 50px;
}

.float-up {
  transition: ease-out 0.6s;
}

.basic-section {
  position: absolute;
  top: 200px;
  left: 20%;
  right: 20%;
  bottom: 0px;
  overflow: visible;
}

#projects-section > * {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.splitter {
  width: 100%;
  height: 0;
  border-bottom: 1px solid white;
}

.project-container {
  background: rgba(0, 0, 0, 0.1);
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
  position: relative;
  height: 400px;
  backdrop-filter: blur(15px);
}

.project-container:hover {
  transform: scale(1.05);
  z-index: 2;
}

.project-image-wrap {
  padding: 5px;
}

.project-image {
  width: 100%;
  box-shadow: white 0 0 5px 2px;
}

.no-bars {
  overflow: visible !important;
}

h1 {
  font-size: 30px;
}

.full-height {
  height: 100%;
  display: inline-block;
}

/*# sourceMappingURL=style2.css.map */
